 body{
    margin: 0;
    padding: 0;
    /* background-color: #ced0e2; */
    height: 100vh;
   
   
} 


.App{
    text-align: center;
   
}
/**** navbar ***/
nav{
  padding: 30px;
  margin-bottom: -100px;
  color: darkblue;
  font-family: cursive;
  font-size: 1.6rem;
}
li {
  margin: 12px;
  list-style: none;
  display: inline;
  justify-content: space-between;
  
  
}
a {
  text-decoration: none;
}

/*hero section*/

  .hero-container h1  {
    font-size: 4rem;
    font-family: cursive;
    color: rgb(210, 206, 226);
    text-align: center;
    padding: 112px;
    margin-bottom: -520px;
    text-shadow: 1px 1px 10px #1e1e55;
  }
  

.weather-box,.tube-timer, .bus-timer, .tube-services{
    
    margin-top: 500px;
    margin-left: 100px;
    overflow: hidden;
    z-index: 10;
    border-radius: 50px 20px 80px 1px;
    /* background-color: #624d81; */
    background-image: linear-gradient( #e4daab, #b0b6a3, #c2ca9e, #bec8d6);
    border-radius: 10px;
    box-shadow: 12px 12px 4px rgba(0,0,0,0.2);
    color: rgb(69, 8, 126);
    /* text-shadow: -1px -1px 12px  #b7da07; */
    width: 150px;
    height: 200px; 

}

.tube-services{
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    padding: 12px;
    margin: -190px 190px 230px 400px; 
    font-size: 0.8rem;
    width: 900px;
    height: 160px;
    
}


@media screen and (max-width: 600px) {
  .tube-services {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
  }
}


.updates{
  font-weight: bolder;
  padding: 10px;

}

.bus{
    margin-top: 70px;
    width: 300px;
    color: rgb(35, 7, 129);

}
.result {
  margin-bottom: -86px !important;
  margin-left: -490px !important;  
  padding: -22px !important; 
  color: rgb(12, 15, 235) !important;
  height: 41px !important;
  font-weight: bolder !important;
  font-size: 1.2rem;
}



.travelling{
    
    color: blue;
    gap:20px;
    border: 1px solid rgb(160, 176, 136);
    letter-spacing: 0.2rem;
}
.arrival{
    border: 2px solid rgb(70, 13, 123);
    letter-spacing: 2px;
    
   
}
/* all buttons styles */
.button {
    margin: 10%;
    text-align: center;
}

.btn {
    width: 280px;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(79, 32, 43);
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn:focus {
    outline: none;
}

.btn{
    background-image: linear-gradient(to right, #9ac5d8, #4481eb, #04befe, #367adf);
    box-shadow: 0 4px 15px 0 rgba(17, 93, 207, 0.75);
    
    /* box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);  */
}

.tube-m{
 width: 100px;  
 aspect-ratio: 3/2;
 object-fit: contain;
 mix-blend-mode: color-burn;  
 animation: slide-in 14s forwards;
 margin-bottom: -90px;
 
}
.bus-m{
  width: 60px;  
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;  
  animation: slide-in 14s forwards;
  margin-bottom: 30px;

}
@keyframes slide-in {
     from {
        transform: translateX(-790%);
      }
      to {
        transform: translate(1600);
    }
    
  } 
    
.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}

.title {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.tube-timer, .bus-timer{
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 463px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    padding: 12px;
    
}
.tube-timer{
    margin-top: 120px;
    padding: 12px; 
    margin-bottom: 120px;
}
/* input */

input {
    caret-color: rgb(255, 0, 208);
  }
  .inputs {
    text-align: left;
    margin-top: 80px;
  }
  
  label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  label {
    margin-bottom: 4px;
    color:rgb(16, 0, 139);
    font-weight: bolder;
    
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
    font-weight: bolder;
    color: rgb(43, 9, 166);
  }
  
  input::placeholder {
    color: gray;
  }
  
  input {
    background: #d5dbe0;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 17px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #88a3bf, inset -6px -6px 6px white;
  }
.running-tube{
    width: 100px;
    margin-left: 102px;
    color: rgb(15, 21, 106);
    font-weight: bolder;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}
.running-tube:hover{
  transform: scale(1.3);
}
